@media only screen and (min-width: 768px) {
    
    section[class="searchArea"]{
        width: 60%;
        font-size: 1.5em
    }
    
    section[class="result"] {
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin: auto;
        width: 65%;
    }
    .mealDescription, .finalPicture, .ingredients{
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        height:32%
    }

    .finalPicture {
        right:2%;
        width: 40%;
    }
    .mealDescription {
        left:2%;
        font-size: 2em;
        width:48%;
    }
    .ingredients {
        position: relative;
        display: inline-block;
        width:55%;
    }
    .basicInfo {
        margin-top:0
    }

    .center {
        margin:0
    }
    .nutrition {
        margin-bottom: 5px;
    }

    .pageNav {
        position: absolute;
        width:48%;
        left:2%;
        bottom:15%
    }

    .fullWidth {
        position: relative;
        width:100%;
        left:0;
        top:90px;
    }

    .imgDetail {
        position: relative;
        left:0
    }
}