html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url('https://images.unsplash.com/photo-1495195134817-aeb325a55b65');
    background-size:cover;
    background-position: center;
    font-family: 'K2D', sans-serif;
    text-shadow: 0px 0px 1px white;
    color:#000;
}

a {
    color: black
}

main {
    width: 98%;
    margin: auto;
}

fieldset {
    border: none;
    margin:10px auto;
    padding:0
}

section[class="searchArea"]{
    padding: 4px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 90%;
    z-index: 1;
    height:50%;
    font-size: 1.5em
}

section[class="introPage"]{
    padding: 4px;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 75%;
    z-index: 1;
    height:40%;
    text-align: center
}
section[class="introPage"] h1{
    font-size: 3em;
    margin: 5px 10px;
}

section[class="introPage"] h2{
    font-size: 2em;
    font-size: 1.2em
}

section[class="introPage"] a {
    text-decoration: none
}

.intro {
    margin: 15px;
    text-align: center;
}

form[class="search"] button {
    border-radius: 5px;
    background: linear-gradient(to bottom, rgba(58, 29, 185, 0.158) 60%,rgb(49, 6, 6)145%);

}

form[class="search"] button:hover {
    color:white;
    background: linear-gradient(to bottom, rgba(58, 29, 185, 0.508) 60%,rgba(49, 6, 6, 0.658)145%);
}

form input[type="radio"] {
    width: 20px;
    height: 20px;
}

form input[type="text"] {
    border-radius: 5px;
    height:20px;
    font-size: 16px
}

form label::before {
    content: '';
    display: table;
    clear:both
}

section[class="searchArea"] legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

section[class="result"] {
    position: absolute;
    top:40px;
    bottom:0;
    left:0;
    right:0;
    margin: auto;
    width: 95%;
}


.js-result {
    vertical-align: middle;
    box-sizing: border-box;
}

.meal {
    vertical-align: middle;
    text-align: center;
}

.detail {
    text-align: left;
}

.mealDescription {
    font-size: 2em;
}

.next, .pre, .total {
    display:inline-block;
    vertical-align: middle;
}

.pageNav {
    margin-top:15px;
    font-size: 1.2em
}
.next {
    left:100%
}

.total {
    top: 100%;
    left:0;
    right:0;
    margin:10px;
}
.pre {
    right: 100%
}

.ingredients, .instruction {
    font-size: 1.2em;
}

.ingredients ul {
    list-style: none;
    margin:15px 0 0 5px;
    padding:0;
}
.ingredients li{
    border: 1px dashed red;
    border-radius: 5px;
    margin: 5px;
    padding: 0px 5px;
    display: inline-block;
    background-color: rgba(205, 236, 255, 0.541);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: linear
}

.ingredients li:hover {
    background-color: rgba(255, 0, 0, 0.541)
}

.finalPicture img{
    width:100%;
    border-radius:15px;
}

.center {
    text-align: center;
    font-size:1.6em;
    margin: 30px;
}


.nutrition {
    position: relative;
    display: block;
    text-align: right;
    margin-bottom:20px;
}

.red {
    color: red;
}

.basicInfo {
    margin-top:15px;
}

.video {
    min-height:350px;
}

.instructionSelect {
    margin-top: 10px;
}

.verticalAlign {
    vertical-align: middle
}

.instruction ul{
    padding-left:15px;
}

.link {
    cursor: pointer;
    text-decoration: none
}

.hidden {
    display: none;
    font-size:0
}

.textInstruction, .videoInstruction {
    float: left
}

section button {
    background-color: transparent;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: linear;
}

section button:hover {
    color: red;
}